Requirements

1.  Find all plain text documents in a directory. Done
2.  Parse a plain text document.
3.  Read in two search terms.
4.  Set "Context" length.
5.  Break out words in a document using the "space" character.
6.  Search document line by line to determine if either search terms exist and note line in array.
7.  If they exist read document into an array and separate by "space".
8.  Note the positions of all instances of term1 in an array.
9.  Note the positions of all instances of term2 in a separate array.
10.  for each term in array1; for each term in array2 if array1.value > array2.value
     if ((array1.value - array2.value) <= context_length) add document to context_found
11.  Parse all documents in specified folder.
12.  Return context_found contents.
